:root {
  --main-radius: 5px;
  --main-padding: 5px;
}

.container {
  background-color: rgb(37, 37, 37);
  display: grid;
  height: 100vh;
  grid-template-columns: 0.6fr 1.8fr 0.6fr;
  grid-template-rows: 0.3fr 2.25fr 0.45fr;
  grid-template-areas:
    "lists main_content friends"
    "lists main_content friends"
    "player player player";

  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.lists {
  /* background-color: white; */
  background-color: rgb(10, 10, 10);
  grid-area: lists;
  padding: var(--main-padding);
  padding-left: 3px;
  padding-right: 3px;
}

.main_content {
  background-color: rgb(34, 30, 30);
  grid-area: main_content;
}

.friends {
  background-color: rgb(10, 10, 10);
  grid-area: friends;
  padding-top: var(--main-padding);
}

.player {
  background-color: #141516;
  grid-area: player;
}
